* {
  font-family: 'Noto Sans';
  font-size: 13px;
  border: none;
  background: none;
}

#window {
  padding: 10px;
  margin: 0px;
  border-radius: 10px;
  background: rgba(0, 0, 0, .25);
  border: .1em solid rgba(255, 255, 255, .5);
}

#inner-box {
	color: white;
}

#outer-box {
  background: none;
  margin: 10px;
  padding: 10px;
}

#input {
  box-shadow: none;
  padding: 5px 20px;
  background: rgba(0, 0, 0, .25);
  border-radius: 20px;
	border: 1px solid rgba(255,255,255,0.25);
  margin-bottom: 20px;
	color: white;
}

#input:after {
  margin-bottom: 20px;
}

#input:focus {
  box-shadow: none;
}

#text {
  padding-left: 10px;
}

#entry {
  padding: 7px 25px;
}

#entry:selected {
  outline: none;
  background: rgba(255, 255, 255, .25);
  border-radius: 20px;
}
