* {
	background-image: none;
	box-shadow: none;
	background-color: transparent;
  border: none;
	margin: 0;
}

window {
	background: rgba(0,0,0,0.25);
}

button {
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	border-radius: 100%;
}

#lock {
	background-image: image(url("/home/hacker/.config/wlogout/icons/lock.png"));
}

#lock:hover {
	background-image: image(url("/home/hacker/.config/wlogout/icons/lock-selected.png"));
}

#lock:focus{
	background-image: image(url("/home/hacker/.config/wlogout/icons/lock-selected.png"));
}

#logout:focus {
	background-image: image(url("/home/hacker/.config/wlogout/icons/logout-selected.png"));
}

#logout {
	background-image: image(url("/home/hacker/.config/wlogout/icons/logout.png"));
}

#logout:hover {
	background-image: image(url("/home/hacker/.config/wlogout/icons/logout-selected.png"));
}

#logout:focus {
	background-image: image(url("/home/hacker/.config/wlogout/icons/logout-selected.png"));
}

#suspend {
	background-image: image(url("/home/hacker/.config/wlogout/icons/suspend.png"));
}

#suspend:hover {
	background-image: image(url("/home/hacker/.config/wlogout/icons/suspend-selected.png"));
}

#suspend:focus {
	background-image: image(url("/home/hacker/.config/wlogout/icons/suspend-selected.png"));
}

#hibernate {
	background-image: image(url("/home/hacker/.config/wlogout/icons/hibernate.png"));
}

#hibernate:hover {
	background-image: image(url("/home/hacker/.config/wlogout/icons/hibernate-selected.png"));
}

#hibernate:focus {
	background-image: image(url("/home/hacker/.config/wlogout/icons/hibernate-selected.png"));
}

#shutdown {
	background-image: image(url("/home/hacker/.config/wlogout/icons/shutdown.png"));
}

#shutdown:hover {
	background-image: image(url("/home/hacker/.config/wlogout/icons/shutdown-selected.png"));
}

#shutdown:focus {
	background-image: image(url("/home/hacker/.config/wlogout/icons/shutdown-selected.png"));
}

#reboot {
	background-image: image(url("/home/hacker/.config/wlogout/icons/reboot.png"));
}

#reboot:hover {
	background-image: image(url("/home/hacker/.config/wlogout/icons/reboot-selected.png"));
}

#reboot:focus {
	background-image: image(url("/home/hacker/.config/wlogout/icons/reboot-selected.png"));
}
