* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0,0,0,0);
}

button {
	background-color: rgba(0,0,0,0.2);
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
    border: 1px solid rgba(255,255,255,0.75);
	margin: 10px;
}


button:hover {
	background-color: rgba(255,255,255,0.1);
}

button:active,button:focus {
	background-color: rgba(255,255,255,0.3);
}

/*
button {
    border-radius: 10px;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
}

button:focus,button:active,button:hover {
	background-color: #3700B3;
	outline-style: none;
}
*/

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"),url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"),url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"),url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"),url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"),url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"),url("/usr/local/share/wlogout/icons/reboot.png"));
}
